@cherset "UTF-8";

body
{
background-color:black;
  background-image;
}

#logo ul
{
overflow:hidden;
}

#logo li
{
float:left;
color:white;
list-style-type:none;
}

#logo img
{
width: 70px;
}

#nav ul
{
overflow:hidden;
}

#nav li
{
float:left;
width:120px;
border-left:red 1px solid;
list-style-type:none;
}

#log ul
{
overflow:hidden;
}

#log li
{
float:left;
list-style-type:none;
}

.wepon
{
  float:left;
border: 1px solid bule;
background-color:red;
text-align:left;
overflow:auto;
}

.armer
{
  float:left;
border: 1px solid red;
background-color:bule;
text-align:left;
overflow:auto;
}

.dna
{
  float:left;
border: 1px solid mistyrose;
background-color:purple;
text-align:left;
overflow:auto;
}

fotter
{
  color:white;
}
